<div class="wrapper">
	<div id="map-canvas"></div>
	<div class="overlay">
		<div class="mainSlide"></div>
		<div class="picturesSlide"></div>
		<div class="analyticsSlide"></div>
		<div class="profileSlide"></div>
	</div>
</div>

<script type="text/javascript">
	var bootstrapData = <%= {"words" => Word.all,
							 "users" => User.all,
							 "pictures" => Picture.all
							}.to_json.html_safe %>;

	$(Wejo.init(bootstrapData));
</script>