html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 24px;
}

.wrapper {
	position: relative;
	height: 100%;
	width: 100%;
}

.overlay {
	z-index: 3;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 200px;
	opacity: 0.85;
}

@mixin slide {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 100%;
	background-color: #e81;
	color: #fff;
	text-align: center;
}

.slide1 {
	z-index: 6;
	@include slide;
	background-color: #1e8;
}

.slide2 {
	z-index: 5;
	@include slide;
	background-color: #81e;
}

.slide3 {
	z-index: 4;
	@include slide;
}

.slide4 {
	z-index: 5;
	@include slide;
	background-color: #888;
}

#map-canvas {
	z-index: 2;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #f04;
}

.listItem {
	background-color: #333;
	opacity: 0.5;
	margin: 4px;
}