.map {
	z-index: -4;
}

@mixin slide {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 100%;
	background-color: #e81;
}

.slide1 {
	z-index: -1;
	@include slide;
	background-color: #1e8;
}

.slide2 {
	z-index: -2;
	@include slide;
	background-color: #81e;
}

.slide3 {
	z-index: -3;
	@include slide;
}

.slide4 {
	z-index: -2;
	@include slide;
	background-color: #888;
}